.image{
    background-image: url('../img/slider/lg.jpg');
}
.custom-radio label::after, .custom-radio label::before {
    border: 1px solid white;
    border-radius: 15px;
    content: "";
    height: 15px;
    left: -29px;
    position: absolute;
    top: 50%;
    width: 15px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.custom-radio input:checked+label::after {
    background-color: white;
    border-color: rgba(0, 0, 0, 0.38);
}

.custom-margin {
    margin-top: 5%;
}

.fontcolor{
    color: white;
    font-weight: bold;
}

.bordercolor{
    border-bottom-color: white;
    margin-bottom: 0;
}
