/*==============================================
    Site Header
===============================================*/
.site-header {
    background-color: transparent;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    .mid-content {
        .left-content {
            color: $text-light;
        }
    }
    .currency-select,
    .lang-select {
        display: inline-block;
        white-space: nowrap;
    }
    .nice-select {
        background-color: transparent;
        border: 0 none;
        border-radius: 0;
        float: none;
        height: auto;
        line-height: inherit;
        z-index: 99;
        &::after {
            border-bottom-color: $text-light;
            border-right-color: $text-light;
        }
        span {
            color: $text-light;
            font-size: 13px;
        }
        &.dark {
            &::before,
            &::after {
                border-bottom-color: rgba(#000, 0.87);
                border-right-color: rgba(#000, 0.87);
            }
            span {
                color: $text-color;
            }
        }
    }
    .header-cart {
        display: inline-block;
        position: relative;
        white-space: nowrap;
    }
    .cart-button {
        background-color: $primary-color;
        color: $text-light;
        display: inline-block;
        padding: 0 38px;
    }
    .mid-content {
        float: right;
        margin: 8px 0;
    }
    .middle-search {
        background-color: $light;
        border-radius: $border-radius;
        min-width: 580px;
        position: relative;
        @include flexbox();
        @include align-items(center);
        input {
            border-bottom: 0;
            font-size: 14px;
            height: 50px;
            margin: 0;
            &:focus {
                border-bottom: 0;
                box-shadow: none;
            }
        }
        label {
            font-size: 24px;
            height: 50px;
            margin: 0;
            text-align: center;
            width: 50px;
            min-width: 50px;
            i {
                line-height: 50px;
            }
        }
    }
    &.is-sticky {
        //border-bottom: 1px solid $border-color;
        box-shadow: $box-shadow-1;
        position: fixed;
        -webkit-animation: .6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s alternate none 1 running fadeInDown;
        animation: .6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s alternate none 1 running fadeInDown;
        z-index: 150;
    }
    &.static,
    &.sticky {
        background-color: #fff;
        position: relative;
        z-index: 100;
        animation: none;
    }
    &.bottom-border {
        border-bottom: 1px solid $border-color;
    }
    &.bakery-gray {
        background-color: #e9eef1;
    }
    &.no-shadow,
    &.is-sticky.no-shadow {
        box-shadow: none;
    }
    /**-*-*-*-*-* Header 2 -*-*-*-*-*-*-**/
    &.style2 {
        background-color: rgba($dark, 0.3);
        &.is-sticky {
            background-color: $light;
        }
    }
    /**-*-*-*-*-*- Header 3 -*-*-*-*-*-*-**/
    &.style3 {
        background-color: rgba($light, 0.05);
        border-bottom: 1px solid rgba($light, .05);
        &.is-sticky {
            background-color: $light;
        }
    }
    /**-*-*-*-*-* Header 4 -*-*-*-*-*-*-**/
    &.style4 {
        background-color: $primary-color;
        .header-top {
            background-color: $primary-darken-1;
        }
        .social-links li a {
            font-size: 17px;
            padding: 0 17px;
        }
        .shop-nav {
            display: inline-block;
            li {
                display: inline-block;
                a {
                    display: block;
                    font-size: 12px;
                    padding: 0 13px;
                }
            }
        }
        a {
            color: $text-light;
            line-height: 40px;
            &:hover {
                color: $light;
            }
        }
        .cart-button {
            color: $text-light;
            i {
                font-size: 20px;
                margin-left: 15px;
            }
        }
        .select-box {
            padding-right: 80px;
        }
        .more-vert {
            display: table-cell;
        }
        .more-vert-menu {
            padding-bottom: 10px;
            padding-top: 10px;
            text-align: right;
            li a {
                color: $text-color;
                line-height: 25px;
                &:hover {
                    color: $title-color;
                }
            }
        }
        .toggle-my-account {
            padding-left: 30px;
            i {
                display: inline-block;
                line-height: inherit;
            }
        }
        .primary-nav {
            li {
                a {
                    color: $text-light;
                }
            }
        }
        &.is-sticky {
            .site-logo {
                padding: 10px 0;
                img {
                    height: 40px;
                }
            }
            .header-top, .mid-content {display: none;}
            background-color: $light;
            .menu-list > li > a {
                color: $text-color;
            }
        }
    }
    /**-*-*-*-*-* Header 5 -*-*-*-*-*-*-**/
    &.style5,
    &.style6,
    &.style7,
    &.style8,
    &.style9 {
        background-color: $primary-color;
        .header-top {
            background-color: $primary-darken-1;
            .col-md-6 > * {
                display: inline-block;
                line-height: 45px;
                vertical-align: middle;
            }
        }
        .shop-nav {
            display: inline-block;
            li {
                display: inline-block;
                a {
                    color: $text-light;
                    display: inline-block;
                    padding: 0 15px;
                    line-height: 40px;
                    &:hover {
                        color: $light;
                    }
                }
            }
        }
        .welcome {
            margin-right: 10px;
        }
        .header-middle {
            .middle-search {
                min-width: auto;
            }
            .social-links {
                a {
                    color: $text-light;
                    font-size: 17px;
                    padding: 0 17px;
                    &:hover {
                        color: $light;
                    }
                }
            }
            .header-cart {
                display: block;
            }
        }
        .mini-cart-wrapper .buttons .col-xs-6 {
            padding: 0 15px;
        }
        .cart-button {
            background-color: $primary-lighten-1;
            line-height: 40px;
            padding: 0 20px;
            i {
                font-size: 22px;
                line-height: 25px;
                margin: 0 0 0 20px;
                position: relative;
                top: 3px;
            }
            &:hover {
                color: $light;
            }
        }
        .toggle-my-account {
            color: $text-light;
            &:hover {
                color: $light;
            }
        }
        .header-bottom {
            background-color: $primary-lighten-1;
            .site-logo {
                display: none;
                line-height: 70px;
            }
        }
        .primary-nav {
            float: none;
            ul:first-child {
                float: left;
            }
            & > ul > li > a {
                line-height: 40px;
                &:hover, &:focus {
                    background-color: $primary-darken-1;
                    color: $light;
                }
            }
        }
        &.is-sticky {
            .header-top,
            .header-middle {
                display: none;
            }
            .header-bottom {
                background-color: $light;
                .site-logo {
                    display: block;
                    img {height: 35px;}
                }
            }
            .menu-list > li > a {
                line-height: 70px;
            }
        }
    }
    &.style5 {
        &.is-sticky {
            .header-bottom {
                .site-logo {
                    line-height: 60px;  
                }
            }
            .menu-list {
                & > li {
                    & > a {
                        line-height: 60px;
                    }
                }
            }
        }
    }
    &.style6,
    &.style7 {
        .header-top,
        .header-bottom {
            background-color: transparent;
        }
        .middle-search {
            .nice-select {
                &:after {
                    border-bottom-color: $text-color;
                    border-right-color: $text-color;
                }
                span {
                    color: $text-color;
                    display: inline-block;
                    line-height: 50px;
                }
                .list {
                    border-radius: $border-radius;
                    margin-top: 0;
                    z-index: 20;
                }
            }
        }
        .product-actions {
            li {
                display: inline-block;
                a {
                    color: $text-light;
                    font-size: 24px;
                    display: block;
                    margin-right: 40px;
                    &:hover {
                        color: $text-light;
                    }
                }
                &:last-child a {
                    margin-right: 0;
                }
            }
        }
        &.is-sticky {
            .header-bottom {
                .site-logo {
                    line-height: 60px;  
                }
            }
            .menu-list {
                & > li {
                    & > a {
                        line-height: 60px;
                    }
                }
            }
        }
    }
    &.style7 {
        background-color: $light;
        .header-top {
            background-color: $primary-color;
        }
        .header-middle {
            background-color: rgba($dark, 0.87);
        }
        .header-bottom {
            background-color: $light;
        }
        .middle-search {
            background-color: transparent;
            border: 1px solid rgba($light, 0.3);
            border-radius: 50px;
            label {
                background-color: $light;
                border-bottom-left-radius: 50px;
                border-top-left-radius: 50px;
            }
            .nice-select span,
            input {
                color: $text-light;
                font-size: 14px;
                font-weight: 300;
            }
            input {
                text-align: right;
                padding-right: 30px;
            }
        }
        .product-actions {
            margin: 0 40px;
            white-space: nowrap;
            li a {
                height: 44px;
                line-height: 44px;
                margin-right: 10px;
                text-align: center;
                width: 44px;
                &:hover {
                    background-color: rgba($light, 0.1);
                }
            }
        }
        .header-cart {
            border: 1px solid $text-light;
            border-radius: 50px;
        }
        .cart-button {
            background-color: transparent;
            line-height: 48px;
            padding-right: 77px;
            position: relative;
            i {
                background-color: $light;
                border-bottom-right-radius: 50px;
                border-top-right-radius: 50px;
                color: $title-color;
                line-height: 50px;
                position: absolute;
                right: 0;
                text-align: center;
                top: -1px;
                width: 52px;
            }
        }
        .menu-list {
            & > li {
                & > a {
                    color: $title-color;
                }
                &:hover, &.active {
                    & > a {
                        background-color: $primary-color;
                        color: $text-light;
                    }
                }
            }
        }
        .nav-hamburger span,
        .nav-hamburger span::before,
        .nav-hamburger span::after {
            background-color: #ccc;
        }
        .nav-hamburger.active span {
            background-color: transparent;
        }
        .social-links {
            float: right;
            position: absolute;
            right: 0;
            top: 50%;
            @include transform (translateY(-50%));
            a {
                color: $text-color;
                i {
                    height: auto;
                }
            }
        }
    }
    &.style8 {
        background-color: $light;
        .header-top {
            background-color: transparent;
            border-bottom: 1px solid rgba($dark, 0.1);
            padding-bottom: 2px;
        }
        .nice-select {
            &::after {
                border-bottom-color: $text-color;
                border-right-color: $text-color;
            }
            span {
                color: $text-color;
            }
        }
        .shop-nav {
            li a {
                color: $text-color;
                &:hover {
                    color: $title-color;
                }
            }
        }
        .header-middle {
            padding: 35px 0;
            .site-logo {
                line-height: inherit;
            }
        }
        .middle-search {
            background-color: transparent;
            & > span {
                color: $light;
                display: block;
                font-weight: 500;
                font-size: 20px;
                padding-right: 30px;
                white-space: nowrap;
            }
            label, .nice-select, input {
                background-color: $light;
                line-height: 50px;
            }
            .active {
                color: $text-color;
            }
        }
        .primary-nav {
            ul:first-child {
                @include flexbox();
                float: right;
                font-size: 0;
                text-align: center;
            }
            & > ul > li {
                display: block;
                & > a {
                    color: $text-color;
                }
                &:hover {
                    & > a {
                        background-color: rgba($dark, 0.05);
                        color: $text-color;
                    }
                }
            }
        }
        .header-bottom {
            background-color: rgba($dark, 0.87);
            padding: 20px 0;
            .table-cell {
                float: none;
                padding-left: 0;
                padding-right: 0;
            }
            .nice-select {
                border-bottom-left-radius: 50px;
                border-top-left-radius: 50px;
            }
            input {
                padding-right: 20px;
                text-align: right;
            }
            label {
                background-color: #e9e7e7;
                border-bottom-right-radius: 50px;
                border-top-right-radius: 50px;
                min-width: 60px;
            }
        }
        .product-actions {
            white-space: nowrap;
            li {
                display: inline-block;
                a {
                    color: $text-light;
                    display: block;
                    font-size: 24px;
                    height: 44px;
                    width: 44px;
                    &:hover {
                        background-color: rgba($light, 0.1);
                        color: $text-light;
                    }
                    i {
                        line-height: 44px;
                    }
                }
            }
        }
        .header-cart {
            border: 1px solid rgba($light, 0.3);
            border-radius: 50px;
            display: block;
            height: 50px;
        }
        .cart-button {
            background-color: transparent;
            line-height: 50px;
            padding: 0 75px 0 0;
            position: relative;
            i {
                background-color: $light;
                border-bottom-right-radius: 50px;
                border-top-right-radius: 50px;
                color: #848484;
                height: 50px;
                line-height: 52px;
                position: absolute;
                right: 0;
                text-align: center;
                top: -1px;
                width: 52px;
            }
        }
        &.is-sticky {
            .header-top, .header-bottom {
                display: none;
            }
            .header-middle {
                display: block;
                padding: 0;
                .site-logo {
                    line-height: 60px;
                }
            }
            .menu-list {
                text-align: right;
                & > li {
                    & > a {
                        line-height: 60px;
                    }
                }
            }
        }
    }
    &.style9 {
        background-color: transparent;
        .header-top {
            background-color: rgba($light, 0.5);
        }
        .social-links {
            li {
                a {
                    color: $text-light;
                    font-size: 17px;
                    padding-right: 34px;
                    &:hover {
                        color: $light;
                    }
                }
                &:last-child a {
                    padding-right: 0;
                }
            }
        }
        .header-middle {
            background-color: rgba($dark, 0.5);
            .site-logo {
                display: inline-block;
                float: none;
            }
        }
        .middle-search {
            background-color: transparent;
            border: 1px solid rgba($light, 0.3);
            border-radius: 50px;
            label {
                background-color: #fff;
                border-bottom-left-radius: 50px;
                border-top-left-radius: 50px;
            }
            input {
                color: $text-light;
                text-indent: 20px;
            }
        }
        .header-cart {
            border: 1px solid rgba($light, 0.3);
            border-radius: 50px;
            .cart-button {
                background-color: transparent;
                line-height: 50px;
                padding-right: 70px;
                position: relative;
                i {
                    background-color: #fff;
                    border-bottom-right-radius: 50px;
                    border-top-right-radius: 50px;
                    color: #848484;
                    height: 50px;
                    line-height: 50px;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    top: 0;
                    width: 52px;
                }
            }
        }
        .header-bottom {
            background-color: $light
        }
        .primary-nav {
            ul:first-child {
                float: none;
                text-align: center;
            }
        }
        .menu-list {
            & > li {
                display: inline-block;
                float: none;
                margin-left: -4px;
                vertical-align: middle;
                & > a {
                    color: $text-color;
                }
            }
        }
        &.is-sticky {
            .header-bottom {
                .site-logo {
                    line-height: 60px;
                }
            }
            .menu-list {
                & > li {
                    & > a {
                        line-height: 60px;
                    }
                }
            }
        }
    }
    &.style10,
    &.style11 {
        background-color: #fff;
        .header-middle {
            .site-logo {
                display: inline-block;
                float: none;
                line-height: inherit;
                padding: 40px 0;
            }
        }
        .header-bottom {
            .site-logo {
                display: none;
            }
        }
        .shop-nav {
            margin: 7px 0 19px;
            li {
                display: inline-block;
                vertical-align: middle;
                a {
                    color: $text-color;
                    display: block;
                    font-size: 12px;
                    font-weight: 400;
                    padding-left: 28px;
                    &:hover {
                        color: $title-color;
                    }
                }
                &:first-child a {
                    padding-left: 0;
                }
            }
        }
        .info-cell {
            i {
                font-size: 36px;
            }
            h5 {
                font-size: 15px;
            }
            p {
                font-size: 12px;
            }
        }
        .cart-button {
            background-color: transparent;
            color: $text-color;
            padding-right: 0;
        }
        .header-bottom {
            background-color: $light-dark;
            position: relative;
            &::before, &::after {
                height: 3px;
                position: absolute;
                left: 0;
                right: 0;
                content: "";
            }
            &::before {
                background-color: rgba($dark, 0.2);
                top: -3px;
            }
            &::after {
                background-color: rgba($light, 0.2);
                bottom: -3px;
            }
        }
        .primary-nav {
            float: left;
        }
        .menu-list > li > a {
            line-height: 50px;
        }
        .top-search > a {
            height: 50px;
            line-height: 50px;
        }
        &.is-sticky {
            .header-middle {
                display: none;
            }
            .header-bottom {
                margin-top: 3px;
                .site-logo {
                    display: inline-block;
                    line-height: 60px;
                    img {
                        height: 35px;
                    }
                }
            }
            .primary-nav {
                float: none;
                display: inline-block;
                vertical-align: middle;
            }
            .menu-list > li > a {
                color: $text-light;
                line-height: 60px;
                &:hover {
                    color: $light;
                }
            }
            .top-search > a {
                height: 60px;
                line-height: 60px;
            }
        }
    }
    &.style11 {
        .header-top {
            background-color: $light-dark;
            padding: 14px 0;
            li {
                a {
                    color: $text-light;
                    display: block;
                    &:hover {
                        color: $light;
                    }
                }
            }
        }
        .social-links {
            li {
                margin-right: 34px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    font-size: 17px;
                }
            }
        }
        .shop-nav {
            margin: 0;
        }
        .header-middle {
            .site-logo {
                padding: 23px 170px 23px 0;
            }
        }
        &.is-sticky {
            .header-top {
                display: none;
            }
        }
    }
    &.style12,
    &.style13 {
        background-color: #fff;
        .header-top {
            padding-top: 30px;
            margin-bottom: -15px;
            .site-logo {
                line-height: inherit;
            }
        }
        .info-cell {
            i {
                font-size: 24px;
                vertical-align: middle;
            }
            h5 {
                font-size: 14px;
                font-weight: 500;
            }
            .table-cell {
                &:first-child {
                    color: $primary-color;
                    border-right: 1px solid;
                    padding-right: 15px;
                }
                &:last-child {
                    padding-left: 15px;
                }
            }
        }
        .social-links {
            li {
                a {
                    color: $text-color;
                    font-size: 17px;
                    margin-right: 17px;
                    &:hover {
                        color: $primary-color;
                    }
                }
                &:last-child a {
                    margin-right: 0;
                }
            }
        }
        .primary-nav {
            float: left;
        }
        .menu-list {
            & > li {
                display: inline-block;
                float: none;
                vertical-align: middle;
                & > a  {
                    color: $text-color;
                    line-height: 50px;
                    &:hover {
                        color: $light;
                    }
                }
            }
        }
        .header-right {
            .devider {
                margin-top: 0;
                position: relative;
                top: -1px;
            }
        }
        .top-cart > a,
        .top-search > a {
            color: $text-color;
            font-size: 24px;
            height: 50px;
            line-height: 50px;
        }
        .header-bottom {
            z-index: 99;
            @include transform(translateY(50%));
            .bottom-inner {
                background-color: $light;
                padding-bottom: 20px;
                padding-top: 20px;
                box-shadow: $normal-shadow;
            }
        }
        .header-right {
            .devider {
                background-color: $text-color;
            }
        }
        &.is-sticky {
            background-color: transparent;
            box-shadow: none;
            padding: 0;
            .header-top {
                background-color: #fff;
                display: none;
            }
            .header-bottom {
                margin-top: 0;
                @include transform(translateY(0px));
                .bottom-inner {
                    padding-bottom: 0px;
                    padding-top: 0px;
                }
            }
            .site-logo,
            .menu-list > li > a,
            .header-right > div > a {
                height: inherit;
            }
        }
    }
    &.style13 {
        .site-logo {
            line-height: inherit;
        }
        .header-bottom {
            .bottom-inner {
                padding-bottom: 18.5px;
                padding-top: 18.5px;
            }
            .primary-bg {
                background-color: $primary-color;
            }
        }
        .primary-bg .menu-list > li > a {
            color: $light;
            font-weight: 400;
            &:hover {
                background-color: $primary-darken-1;
            }
        }
        .primary-bg {
            .devider {
                background-color: $primary-darken-1;
            }
        }
        .primary-bg .top-search > a,
        .primary-bg .top-cart > a {
            color: $light;
        }
        &.is-sticky {
            position: fixed;
            .primary-bg .top-search > a,
            .primary-bg .top-cart > a {
                color: $light;
            }
            .top-search,
            .top-cart {
                height: auto;
            }
        }
    }
    &.style15 {
        border-color: rgba($light, 0.1);
    }
}

/*----------------------------------------
    Header action buttons
------------------------------------------*/
.header-action-btns {
    float: right;
    .top-search, .top-cart {
        float: left;
        height: 95px;
        position: relative;
        width: 50px;
        &::after {
            background-color: rgba($dark, 0.1);
            content: '';
            height: 30px;
            position: absolute;
            right: 0;
            top: 50%;
            width: 1px;
            @include transform (translateY(-50%));
        }
    }
    & > div:last-child::after {
        content: none;
    }
    .top-cart-trigger,
    .top-search-trigger {
        background: url("../img/icons/h-actions.png") no-repeat scroll 0 0 transparent;
        display: block;
        height: 21px;
        opacity: 0.54;
        width: 20px;
        &:hover {
            opacity: 1;
        }
    }
    .top-cart-trigger {
        background-position: 0 -21px;
    }
}

.count-badge {
    bottom: -19px;
    color: $light;
    display: block;
    font-size: 11.63px;
    height: 23px;
    left: -1px;
    line-height: 22px;
    position: absolute;
    text-align: center;
    width: 23px;
    &::before {
        background-color: black;
        border-radius: 3px;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: -1;
        @include transform (rotate(45deg));
    }
}

// header cart
.header-cart-2 {
    background-color: $light;
    font-size: 12px;
    min-width: 300px;
    position: absolute;
    right: 0;
    top: 100%;
    @include transform (scaleY(0));
    @include transform-origin (left top 0);
    @include transition (all 0.3s ease 0s);
    .cart-title {
        border-bottom: 1px solid $border-color;
        padding: 20px 0 19px;
        text-align: center;
    }
    .cart-product {
        padding: 0 60px 30px 30px;
    }
    .remove-product {
        background: url("../img/icons/product-remove.png") no-repeat scroll 0 0 transparent;
        height: 20px;
        opacity: 0.3;
        position: absolute;
        right: 30px;
        top: 0;
        width: 20px;
        &:hover {
            opacity: 0.8;
        }
    }
    .desc {
        h6, .price {
            font-size: 12px;
        }
    }
    .product-total {
        border-bottom: 1px solid $border-color;
        border-top: 1px solid $border-color;
        font-size: 12px;
        line-height: 39px;
        span:first-child {
            border-right: 1px solid $border-color;
        }
    }

    .actions {
        padding-bottom: 30px;
        padding-top: 12px;
        span {
            display: block;
            letter-spacing: 2.1px;
        }
        .btn {
            font-size: 10px;
            font-weight: 300;
            letter-spacing: 2.1px;
            margin-top: 13px;
            text-transform: uppercase;
        }
    }
}

.top-cart:hover {
    .header-cart-2 {
        @include transform (scaleY(1));
    }
}

.style15 {
    .site-logo {
        height: 79px;
        line-height: 79px;
        img {
            height: 40px;
        }
    }
    .menu-list {
        & > li {
            & > a {
                line-height: 79px;
            }
        }
    }
}

// magazine header 1
.header-megazine {
    background-color: $light;
    position: relative;
    .header-top {
        padding: 15px 0;
    }
    .site-logo {
        display: block;
    }
    .header-add {
        display: block;
    }
    .header-bottom {
        background-color: $light;
        position: relative;
        z-index: 10;
        .site-logo {
            img {
                height: 30px;
            }
        }
    }
    .primary-nav {
        background-color: $light;
        position: relative;
        z-index: 10;
        margin-left: -83px;
        @include transition();
    }
    .search-box {
        input {
            border: 1px solid $border-color;
            border-radius: 30px 0 0 30px;
            font-size: 13px;
            font-style: italic;
            height: 40px;
            margin: 0;
            max-width: 100%;
            padding: 0 0 0 25px;
            width: 350px;
            @include transition();
            &:focus {
                border-color: $primary-color;
            }
        }
        button {
            background-color: #ccc;
            border: 0;
            border-radius: 0 30px 30px 0;
            color: $light;
            height: 40px;
            padding: 0;
            width: 60px;
            @include transition();
            &:hover, &:focus {
                background-color: $primary-color;
            }
        }
    }
    &.is-sticky {
        position: relative !important;
        @include animation(none !important);
        .primary-nav {
            margin-left: 10px;
        }
    }
}

// magazine header 2
.header-magazine-2 {
    background-color: $light;
    position: relative;
    .header-top {
        background-color: $gray-bg;
        padding: 10px 0;
    }

    .header-middle {
        padding: 35px 0;
    }

    .header-bottom {
        background-color: $light;
        position: relative;
        z-index: 10;
        .site-logo {
            img {
                height: 30px;
            }
        }
    }
    .primary-nav {
        background-color: $light;
        position: relative;
        z-index: 10;
        @include transition();
    }
    .search-box {
        input {
            background-color: $light;
            border: 0;
            border-radius: 30px 0 0 30px;
            font-size: 13px;
            font-style: italic;
            height: 40px;
            margin: 0;
            max-width: 100%;
            padding: 0 0 0 25px;
            width: 250px;
            @include transition();
            &:focus {
                box-shadow: $box-shadow-1;
            }
        }
        button {
            background-color: #ccc;
            border: 0;
            border-radius: 0 30px 30px 0;
            color: $light;
            height: 40px;
            padding: 0;
            width: 60px;
            @include transition();
            &:hover, &:focus {
                background-color: $primary-color;
            }
        }
    }
    &.is-sticky {
        position: relative !important;
        @include animation(none !important);
        .primary-nav {
            float: right;
        }
    }
}

// header interior
.header-interior {
    .site-logo {
        line-height: 70px;
        img {
            height: 33px;
        }
    }
    .header-right .top-cart > a,
    .header-right .top-search > a {
        height: 70px;
        line-height: 70px;
    }
    .menu-list {
        & > li {
            & > a {
                line-height: 70px;
            }
        }
    }
}

// header travel
.header-travel {
    .site-logo {
        img {
            height: 35px;
        }
    }
    .search-box {
        float: right;
        @include transition();
        input {
            border: 1px solid $border-color;
            border-radius: 30px 0 0 30px;
            font-size: 13px;
            font-style: italic;
            height: 40px;
            margin: 0;
            max-width: 100%;
            padding: 0 0 0 25px;
            width: 190px;
            @include transition();
            &:focus {
                border-color: transparent;
                box-shadow: $shadow-default;
            }
        }
        button {
            background-color: #ccc;
            border: 0;
            border-radius: 0 30px 30px 0;
            color: $light;
            height: 40px;
            padding: 0;
            width: 60px;
            @include transition();
            &:hover, &:focus {
                background-color: $primary-color;
            }
        }
    }
}


// header SEO
//------------------------------------

.header-seo {
    position: relative;
    .header-middle {
        padding: 25px 0;
    }
    .site-logo {
        line-height: 60px;
        &.bottom {
            display: none;
        }
    }
    .primary-nav {
        background-color: $primary-color;
        z-index: 9;
        position: relative;
        @include transition();
    }
    .menu-list > li > a,
    .right-nav > li > a {
        line-height: 60px;
    }
    .is-sticky {
        .primary-nav {
            margin-left: 20px;
        }
        .site-logo.bottom {
            display: block;
        }
    }
    .right-nav {
        & > li > a  {
            color: $light;
            display: block;
            padding: 0 65px;
            &:hover {
                background-color: rgba($dark, 0.15);
            }
        }
    }
}

.is-sticky {
    .primary-bg {
        .menu-list > li > a {
            color: $light;
        }        
    }
}

.welcome-notice {
    line-height: 50px;
}

.seo-top-nav li {
    display: inline-block;
    margin-left: -4px;
    a {
        color: $text-color;
        display: block;
        line-height: 50px;
        padding: 0 20px;
        &:hover {
            background-color: rgba($dark, 0.1);
        }
        i {
            margin-right: 5px;
        }
    }
}

.seo-top-search {
    position: absolute;
    right: 15px;
    top: 50%;
    @include transform(translateY(-50%));
    .box {
        @include flexbox();
        float: left;
        .icon {
            background-color: $gray-bg-3;
            cursor: pointer;
            font-size: 18px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            width: 40px;
            @include transition();
        }
        input {
            border: 0 none;
            height: 40px;
            margin: 0;
            outline: 1px solid rgba($dark, 0.1);
            outline-offset: -1px;
            text-align: left;
            width: 0;
        }
        &:first-child .icon {
            border-radius: 30px 0 0 30px;
            width: 50px;
        }
        &:last-child .icon {
            border-radius: 0 30px 30px 0;
            width: 50px;
        }
        &:hover {
            input {
                padding: 0 20px;
                width: 200px;
            }
            .icon {
                background-color: rgba($dark, 0.1);
            }
        }
    }
}

// header Wedding
//------------------------------------

.header-wedding {
    @include animation(none !important);
    .header-top {
        margin-top: 50px;
    }
    .sticky-wrapper {
        //height: auto !important;
    }
    .site-logo {
        display: none;
        img {
            height: 45px;
        }
    }
    &.is-sticky {
        position: relative;
        .header-top {
            //display: none;
        }
        .site-logo {
            display: block;
            img {
                height: 45px;
            }
        }
        .primary-nav {
            float: right;
        }
    }
    .is-sticky {        
        .header-bottom {
            background-color: $light;
            box-shadow: $shadow-default;
        }
    }
}


// header SP
//------------------------------------
.header-sp {
    &::after {
        background-color: $primary-color;
        bottom: 0px;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
        @include transition();
    }
    .site-logo,
    .header-right div > a,
    .menu-list > li > a {
        height: 70px;
        line-height: 70px;
    }
    &.is-sticky {
        &::after {
            bottom: 0;
            height: 1px;
        }
        .site-logo,
        .header-right div > a,
        .menu-list > li > a {
            height: 70px;
            line-height: 70px;
        }
    }
}

// header blog-3
//------------------------------------
.header-blog-3 {
    .logo-shape {
        margin-left: auto;
        margin-right: auto;
        width: 175px;
    }
    .blog-3-intro {
        p {
            letter-spacing: 5px;
        }
    }
    .header-inner {
        border-bottom: 1px solid $border-color;
    }
}

// header shop-3
//------------------------------------
.header-shop-3 {
    .header-bottom {
        padding-bottom: 25px;
        padding-top: 25px;
    }
    .search-box {
        border: 1px solid rgba(#000, 0.1);
        border-radius: 50px;
        input {
            border: 0 none;
            height: 43px;
            margin: 0;
            padding-left: 30px;
            &:focus {
                border-bottom: 0;
                box-shadow: none;
            }
        }
    }
    .nice-select {
        border-left: 1px solid rgba(#000, 0.1);
        min-width: 158px;
        padding-left: 29px;
        padding-right: 29px;
        span {
            font-size: 13px;
            font-weight: 300;
        }
        .list {
            border-radius: 0;
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
            margin: 10px 0 0;
            width: 100%;
        }
        .option,
        .selected {
            font-weight: 300;
        }
        .option {
            font-size: 12px;
            line-height: 30px;
            min-height: 30px;
        }
    }
    .search-sub {
        background-color: rgba(#000, 0.87);
        border: 0 none;
        border-radius: 0 30px 30px 0;
        color: #fff;
        height: 41px;
        margin-right: 1px;
        min-width: 44px;
        position: relative;
        &::before {
            background: url("../img/icons/search.png") no-repeat scroll 0 0;
            content: "";
            height: 20px;
            left: 50%;
            position: absolute;
            top: 50%;
            width: 20px;
            @include transform(translate(-50%, -50%));
        }
    }
    .header-action-btns {
        & > li {
            float: none;
            margin-right: 15px;
            padding-right: 15px;
            position: relative;
            width: auto;
            &::after {
                background-color: rgba(#000, 0.1);
                content: "";
                height: 30px;
                position: absolute;
                right: 0;
                top: 50%;
                width: 1px;
                @include transform(translateY(-50%));
            }
            &:last-child {
                margin-right: 0;
                padding-right: 0;
                &::after {
                    content: none;
                }
            }
            & > a {
                color: $text-color;
                font-size: 20px;
            }
            .et-line::before {
                display: block;
            }
        }
    }
    .top-cart,
    .nav-hamburger {
        height: auto;
    }
    .nav-hamburger {
        margin-left: 0;
    }
}


// header Sports
//------------------------------------
.header-sports {
    .site-logo::before {
        background-color: $primary-color;
        bottom: -20px;
        content: "";
        left: -1110px;
        position: absolute;
        right: -50px;
        top: -40px;
        z-index: -1;
        @include transform (skew(-33deg));
        @include transition(all 0.3s ease 0s);
    }
    .social-links li a {
        color: #999999;
        display: block;
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: 40px;
        &:hover {
            background-color: #666;
            color: #fff;
        }
    }
    &.is-sticky .site-logo::before {
        bottom: -10px;
    }
}


// header Sticky
//------------------------------------
.is-sticky {
    .is-sticky {
        box-shadow: $box-shadow-1;
    }
    .site-logo,
    .menu-list > li > a,
    .header-right > div > a,
    .nav-hamburger  {
        line-height: 65px;
        height: 65px;
    }
    .menu-list > li > a {
        color: $text-color;
    }
    .top-search,
    .top-cart {
        height: 65px;
    }
    .site-logo img {
        height: 30px;
    }
}

.menu-dark {
    .header-right div > a,
    .menu-list > li > a {
        color: $text-color;
    }
}

.more-vert {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    z-index: 10;
    & > a {
        color: $text-color;
        display: inline-block;
        font-size: 24px;
    }
    &:hover .more-vert-menu {
        opacity: 1;
        visibility: visible;
        @include transform (scale(1) translate(0px));   
    }
}

.more-vert-menu {
    background-color: $light;
    border-radius: $border-radius;
    box-shadow: $box-shadow-1;
    min-width: 150px;
    opacity: 0;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 100%;
    @include transform (scale(0.7) translate(20px, -50px));
    @include transition (all 0.2s cubic-bezier(0.5, 0, 0, 1.25) 0s);
    visibility: hidden;
    z-index: 9;
    & > li > a {
        color: $text-color;
        display: block;
        font-size: 13px;
        padding: 2px 0;
    }
}

.more-vert.active {
    .more-vert-menu {
        
    }
}

.select-wrapper {
    .caret {
        border: 0 none;
        height: auto;
        margin-left: 0;
        width: auto;
    }
}

.mini-cart-wrapper {
    background-color: #454545;
    position: absolute;
    right: 0;
    top: -webkit-calc(100% + 10px);
    top: calc(100% + 10px);
    z-index: 33;
    @include transform(scaleY(0));
    @include transform-origin(left top 0);
    @include transition(all 0.5s cubic-bezier(0.5, 0, 0, 1.25) 0s);
    &::after {
        border-color: transparent transparent #454545;
        border-style: solid;
        border-width: 10px;
        content: "";
        position: absolute;
        right: 15px;
        top: -20px;
    }
    td, th {
        border-radius: 0;
    }
    &.light {
        &::after {
            border-color: transparent transparent $light;
        }
        background-color: $light;
        tbody tr {
            td {
                color: $text-color;
                border-bottom: 1px solid rgba($dark, 0.1);
            }
            a {color: $text-color;}
        }
    }
}

.header-cart-inner:hover .mini-cart-wrapper {
    @include transform(scaleY(1));
}

.mini-cart {
    tbody {
        tr {
            padding: 10px 0;
            td {
                color: $text-light;
                border-bottom: 1px solid rgba($light, 0.1);
                font-size: 13px;
                font-weight: 400;
                padding: 18px 0;
            }
            &:last-child td {
                border-bottom: 0;
            }
            a {color: $text-light;}
        }
    }
    .product-thumb {
        padding-right: 18px;
        padding-left: 20px;

    }
    .product-name {padding-right: 50px;}
    .product-count {padding-right: 35px;}
    .product-price {padding-right: 20px;}
    .product-remove {
        padding-right: 30px;
        a:hover {
            color: $error-color;
        }
        i {
            font-size: 14px;
            line-height: inherit;
        }
    }
    .total {
        background-color: $primary-color;
    }
    tfoot {
        tr {
            color: $light;
            font-size: 16px;
            font-weight: 500;
            td {
                padding: 20px 30px 20px 0;
            }
        }
    }
    .buttons {
        padding: 25px 0;
    }
}

/*----------------------------------------
    Logo
------------------------------------------*/

.site-logo {
    float: left;
    line-height: 95px;
    position: relative;
    z-index: 9;
    img {
        height: 53px;
        @include transition(height 0.3s ease 0s);
    }
    .logo2 {
        display: none;
    }
}


/*==============================================
    Sticky Header
===============================================*/

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.is-sticky {
    background-color: $light;
    .site-logo {
        .logo1 {display: none;}
        .logo2 {display: inline-block;}
    }
    .site-logo,
    .header-right > div:not(.active) > a {
        color: $text-color;
    }
    .nav-hamburger {
        span, span::before , span::after {
            background-color: $text-color;
        }
    }
}

/*----------------------------------------
    Nav Toggle
------------------------------------------*/

.nav-hamburger {
    background-color: transparent;
    border: medium none;
    float: right;
    height: 95px;
    margin-left: 30px;
    padding: 0;
    position: relative;
    text-indent: -9999px;
    width: 30px;
    @include transition(all 0.3s ease 0s);
    &:focus {
        background-color: transparent;
    }
    span {
        background-color: $light;
        display: block;
        height: 2px;
        left: 0;
        margin-top: -1px;
        position: absolute;
        right: 0;
        top: 50%;
        @include transition(background 0.3s ease 0s);
        &:before, &:after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $light;
            content: "";
            @include transition-duration(0.3s, 0.3s);
            @include transition-delay(0.3s, 0s);
        }
        &:before {
            top: -7px;
            @include transition-property(top, transform);
        }
        &:after {
            bottom: -7px;
            @include transition-property(bottom, transform);
        }
    }
    &.dark {
        span {
            background-color: $text-color !important;
            &::before,
            &::after {
                background-color: $text-color !important;
            }
        }
        &.active {
            span {
                background-color: transparent !important;
            }
        }
    }
    &.active {
        span {
            background-color: transparent;
            &:before, &:after {
                @include transition-delay(0s, 0.3s);
            }
            &:before {
                top: 0;
                @include transform(rotate(45deg));
            }
            &:after {
                bottom: 0;
                @include transform(rotate(-45deg));
            }
        }
    }
}

/*----------------------------------------
    Primary Nav 
------------------------------------------*/

.primary-nav {
    float: right;
    position: static !important;
    .active {
        background-color: transparent;
        a {

        }
    }
    li {
        position: relative;
        a {
            display: block;
            font-weight: 400;
            position: relative;
        }
    }
    &.center {
        float: none;
        .menu-list {
            & > li {
                float: none;
                display: inline-block;
            }
        }
    }
}

.menu-list {
    & > li {
        float: left;
        position: relative;
        & > a {
            font-size: 14px;
            line-height: 95px;
            padding: 0 15px;
            position: relative;
            text-transform: uppercase;
        }
    }
    li.megamenu {
        position: static;
    }
}

/*----------------- DropDown ---------------*/

.menu-list {
    .sub-menu {
        background-color: $light-dark;
        left: 0;
        min-width: 190px;
        opacity: 0;
        position: absolute;
        text-align: left;
        top: 100%;
        visibility: hidden;
        white-space: nowrap;
        width: 100%;
        z-index: 12;
        @include transition( all 0.2s ease 0s );
        & > li {
            float: none;
            & > a {
                line-height: inherit;
                padding: 7.5px 25px 7.5px 22px;
            }
        }
        .sub-menu {
            top: 0;
            left: 100%;
        }
    }
}
.has-dropdown {
    &:hover > .sub-menu {
        opacity: 1;
        visibility: visible;
    }
    .dropdown-holder {
        display: none;
    }
}

.sub-menu {
    & > li {
        .arrow {
            font-size: 16px;
            position: absolute;
            right: 24px;
            top: 50%;
            @include transform(translateY(-50%));
        }
    }
}

.sub-menu.megamenu-wrapper {
    min-width: auto;
    padding: 30px;
    text-transform: uppercase;
    & > li {
        // min-width: 180px;
        width: 100%;
        a {
            font-size: 11px;
            &:focus {
                color: #fff;
                opacity: 0.6;
            }
        }
    }
}
.megamenu-child {
    min-width: 180px;
    .megamenu-title {
        font-size: 11px;
        font-weight: 400;
        margin-bottom: 10px;
        padding: 3px 15px;
        position: relative;
        &::before {
            background-color: $light;
            bottom: 0;
            content: "";
            height: 1px;
            left: 15px;
            opacity: 0.25;
            position: absolute;
            width: 30px;
        }
    }
    li {
        a {
            left: 0;
            opacity: 0.6;
            padding: 3px 15px;
            position: relative;
            &:hover {
                color: $light;
                opacity: 1;
                left: 5px;
            }
        }
    }
}

.submenu-bg-image {
    background: transparent url("../img/misc/dropdown-bd.jpg") no-repeat scroll center center / cover ;
    position: relative;
    &::before {
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
    }
    &.dark {
        &::before {
            background-color: rgba($dark, 0.9);
        }
    }
    &.light {
        &::before {
            background-color: rgba($light, 0.9);
        }
        li a {
            color: #333;
            opacity: 0.6;
            &:hover {
                opacity: 1;
            }
        }
        .megamenu-title::before {
            background-color: #000;
        }
    }
}
/*----------------- Menu Hover ---------------*/

.nav-hover-1 {
    & > li {
        & > a {
            font-size: 12px;
        }
        &:hover,
        &:focus {
            & > a {
                background-color: #303030;
                color: $light;
            }
        }
    }
    /*
    .sub-menu {
        li {
            a {
                font-size: 13px;
            }
            &:hover > {
                a {
                    background-color: $primary-color;
                    color: $light;
                }
            }
        }
    }*/
}

.nav-hover-2 {
    & > li {
        & > a {
            font-size: 12px;
            &::before, &::after {
                height: 3px;
                position: absolute;
                left: 0;
                width: 0;
                content: "";
                z-index: 1;
                @include transition(all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s);
            }
            &::before {
                top: -3px;
            }
            &::after {
                bottom: -3px;
                left: auto;
                right: 0;
            }
        }
        &:hover,
        &:focus {
            & > a {
                &::before, &::after {
                    background-color: $primary-color;
                    width: 100%;
                }
                background-color: rgba($dark, 0.3);
                color: $light;
            }
        }
    }
    /*
    .sub-menu {
        top: -webkit-calc(100% + 3px);
        top: calc(100% + 3px);
        li {
            a {
                font-size: 11px;
            }
            &:hover > {
                a {
                    background-color: $primary-color;
                    color: $light;
                }
            }
        }
    }*/
}

.nav-hover-3 {
    & > li {
        & > a {
            position: relative;
            &::after {
                background-color: $primary-color;
                content: "";
                position: absolute;
                left: 0;
                bottom: -1px;
                width: 0;
                height: 3px;
                @include transition(width 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
            }
        }
        &:hover, &.active {
            a::after {
                width: 100%;
            }
        }
        .mouseout::after {
            left: auto;
            right: 0;
        }
    }
}

.nav-hover-4 {
    & > li {
        & > a {
            font-size: 12px;
            &::after {
                background-color: transparent;
                bottom: 0;
                content: "";
                left: 0;
                position: absolute;
                right: 0;
                top: 10px;
                z-index: -1;
                @include transition();
            }
        }
        &:hover > a,
        &.active > a {
            color: $light;
            &::after {
                background-color: $primary-color;
                //box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16) inset,
                            //0 2px 4px 0 rgba(0, 0, 0, 0.12) inset;
            }
        }
    }
}

/*----------------------------------------
    Header right
------------------------------------------*/
.header-right {
    float: right;
    position: relative;
    .devider {
        background-color: $light;
        height: 25px;
        left: 0;
        margin-top: -12.5px;
        position: absolute;
        top: 50%;
        width: 1px;
    }
    .top-cart,
    .top-search {
        float: left;
    }
    .top-cart {
        position: relative;
    }
    .top-cart > a,
    .top-search > a {
        color: $light;
        display: block;
        height: 95px;
        font-size: 24px;
        line-height: 95px;
        padding: 0 15px;
    }
    .top-search {
        & > a {
            padding-right: 0;
            position: relative;
            z-index: 3;
        }
    }
}

.search-wrapper {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    opacity: 0;
    top: 0;
    visibility: hidden;
    z-index: 200;
    @include transition(all 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0s);
    &::before {
        background-color: rgba(#232328, 0.8);
        border-bottom-left-radius: 100px;
        content: "";
        height: 100px;
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
        @include transform(scale(0));
        @include transform-origin(right top 0);
        @include transition(all 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0s);
    }
    &.active {
        opacity: 1;
        visibility: visible;
        &::before {
            @include transform(scale(40));
        }
    }
    .close-search {
        position: absolute;
        right: 50px;
        top: 50px;
        color: $light;
        font-size: 25px;
    }
    .search-popup {
        left: 50%;
        max-width: 1170px;
        padding: 0 15px;
        position: absolute;
        top: 50%;
        width: 100%;
        @include transform(translate(-50%, -50%));
        input {
            border-bottom-color: rgba($light, 0.2);
            color: $light;
            font-size: 38px;
            height: 60px;
            margin: 0;
            padding: 0;
            &:focus {
                background-color: transparent;
                border-bottom: 1px solid rgba($light, 0.2);
                color: $light;
                + label {
                    color: $light;
                }
            }
        }
        label {
            color: $light;
            font-size: 38px;
            font-weight: 400;
            line-height: 38px;
            margin: 0;
            text-transform: none;
            &.active {
                font-size: 20px;
                left: 0;
            }
        }
        button {
            background-color: transparent;
            border: 0 none;
            color: $light;
            cursor: pointer;
            font-size: 18px;
            line-height: 60px;
            padding: 0;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            width: 40px;
        }
    }
}

/*==============================================
    Side Nav
===============================================*/

.side-nav-wrap {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 240px;
    z-index: 50;

    @include transform (translateX(-100%));
    @include transition (all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s);

    &.opened {
        @include transform (translateX(0px));
        + .sidenav-overlay {
            opacity: 1;
            position: fixed;
            visibility: visible;
        }
    }

    .user-view {
        background: #fff url("") no-repeat scroll center center / cover;
        padding: 30px 30px 20px;
        &.logo-only {
            padding: 60px 30px;
        }
        a {
            border: 0 none;
        }
    }

    .logo-only {
        img {
            height: 53px;
        }
    }

    &.primary {
        background-color: $primary-color;
        .user-view {
            background-color: $primary-color;
        }
        a {
            color: $light;
        }
    }
}

.sidenav-overlay {
    opacity: 0;
    visibility: hidden;
    z-index: 40;
    @include transition (all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) 0s);
}

.toggle-side-nav {
    background-color: $primary-color;
    border-radius: 0 30px 30px 0;
    color: $light;
    font-size: 30px;
    height: 50px;
    left: 240px;
    line-height: 50px;
    width: 57px;
    position: absolute;
    text-align: center;
    top: 60px;
    z-index: 1000;
    
    .bar {
        background-color: #fff;
        height: 3px;
        left: 12px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 22px;
        
        &::before, &::after {
            background-color: #fff;
            content: "";
            height: 3px;
            left: 0;
            position: absolute;
            top: -7px;
            width: 100%;
        }

        &::after {
            top: auto;
            bottom: -7px;
        }
    }

    &.active {
        background-color: #425963;
        border-radius: 30px 0 0 30px;
        @include calc (left, "100% - 55px");
        span {
            left: 17px;
            right: 13px;
        }
    }
}

.nav-content {
    max-height: 500px;
    overflow: auto;
    .megamenu-title {
        display: none;
    }
    li a {
        display: block;
        font-size: 12px;
        font-weight: 400;
        height: auto;
        position: relative;
        text-transform: uppercase;
    }
    > li > a {
        border-top: 1px solid rgba($light, 0.3);
        line-height: 45px;
        padding: 0 30px;
    }
    &.primary {
        li:hover, li.active {
            & > a {
                background-color: $light;
                box-shadow: 0px 3px 4.7px 0.3px rgba($dark, 0.14);
                color: $primary-color;
            }
        }
    }
    .sub-menu {
        display: none;
        li li a {
            padding-left: 25px;
        }
    }
}


.c-hamburger {
    overflow: hidden;
    padding: 0;
    width: 55px;
    height: 50px;
    text-indent: -9999px;
    appearance: none;
    border: none;
    @include transition (all 0.3s ease 0s);

    span {
        display: block;
        position: absolute;
        top: 50%;
        left: 13px;
        right: 17px;
        height: 2px;
        background-color: $light;
        @include transition (background 0s 0.3s);
        @include transform (translateY(-50%));

        &::before,
        &::after {
            position: absolute;
            display: block;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $light;
            content: "";
            @include transition-duration (0.3s, 0.3s);
            @include transition-delay (0.3s, 0s);
        }

        &::before {
            top: -7px;
            @include transition-property (top, transform);
        }

        &::after {
            bottom: -7px;
            @include transition-property (bottom, transform);
        }
    }

    &.active {
        span {
            background-color: transparent;

            &::before,
            &::after {
                transition-delay: 0s, 0.3s;
            }

            &::before {
                top: 0;
                transform: rotate(45deg);
            }

            &::after {
                bottom: 0;
                transform: rotate(-45deg);
            }
        }
    }
}

.toggle-detault {
    background-color: transparent;
    background-image: none;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    float: right;
    margin-bottom: 8px;
    margin-right: 15px;
    margin-top: 8px;
    padding: 9px 10px;
    position: relative;
    .icon-bar {
        background-color: $text-color;
        border-radius: 1px;
        display: block;
        height: 2px;
        width: 22px;
    }
}

.navbar-form {
    &.navbar-right {
        padding-right: 0;
    }
    input {
        margin-bottom: 0;
    }
}
.new {
   background: #f6514c none repeat scroll 0 0;
   border-radius: 3px;
   color: #fff;
   display: inline-block;
   padding: 2px 7px;
   line-height: 1.2em;
   text-transform: capitalize;
   font-size: 10px;
   margin-left: 5px;
}
