
//    Font Family

$font-stack		: 'Roboto', sans-serif;
$roboto-slab	: 'Poppins', sans-serif;


//    Colors
$title-color	: #444;
$text-color		: #848484;
$gray-bg		: #eeeeee;
$gray-bg-2		: #f3f3f3;
$gray-bg-3		: #f7f7f7;
$gray-bg-4		: #fafafa;
$light-bg		: #f8f8f8;
$light			: #fff;
$dark			: #000;
$light-dark		: #303030;
$error-color	: #d60909;
$text-light		: rgba($light, 0.87);
$border-color	: rgba($dark, 0.1);

$success		: #dff0d8;
$success-text	: #3c763d;
$info			: #d9edf7;
$info-text		: #31708f;
$warning		: #fcf8e3;
$warning-text	: #8a6d3b;
$danger 		: #f2dede;
$danger-text	: #a94442;

$border-radius	: 2px;
$shadow-default	: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
$team-shadow	: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
$box-shadow-1	: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
$box-shadow-2	: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
$normal-shadow  : 2px 3px 4px 0 rgba(0, 0, 0, 0.10), 0 0 3px 0 rgba(0, 0, 0, 0.10);
$hover-shadow   : 0 10px 25px 0 rgba(0, 0, 0, 0.13);
// $shadow-default	: 0 2px 5px 0 rgba($dark, 0.16), 0 2px 10px 0 rgba($dark, 0.12);
// $team-shadow	: 0 2px 5px 0 rgba($dark, 0.07), 0 2px 10px 0 rgba($dark, 0.05);
// $box-shadow-1	: 0px 1px 5px 0px rgba($dark, 0.1);
// $box-shadow-2	: 0 8px 17px 0 rgba($dark, 0.2), 0 6px 20px 0 rgba($dark, 0.19);


//    Social Profile Colors
$twitter		: #55acee;
$facebook		: #42599e;
$dribbble		: #e40079;
$pinterest		: #fc3030;
$linkedin		: #0798cf;
$behance		: #1769ff;
$gplus			: #db4437;
$youtube		: #bf0918;


/*--------------------------- Color variations ----------------------*/

$primary-color	: #f6514c;
//$primary-color: #e50025;
$primary-darken-1: #d7423e;
$primary-lighten-1: #e94843;