.gap{
	margin-left: 15px;
	margin-top: 15px;
}

.space{
	margin-top: 10px;
	margin-left: 10px;
}

.color{
	color: white; 
}

.error{
	margin-left: 15px;
	color:red;
}

.m-wizard.m-wizard--1 .m-wizard__head .m-wizard__progress .progress {
    border-radius: .71rem;
    height: 0.71rem;
    width: 100%;
    position: relative;
    overflow: visible;
}

.underprocess{
	color: blue;
}

.reject{
	color: red;
}

.confirm{
	color: blue;
}

.logout{
	margin-left: 1000px;
	margin-top: 15px;
}
 .headertop{
 	margin-top: 50px;
 }

 .price{
 	color: blue;
 	font-size: 25px;
 	font-weight: bolder;
 }

.demosession{
	margin-top:25px;
}
.demoh4{
	margin-left: 20px;
	color:red;
}

.demoleft{
	margin-left: 25px;
}

.demotop{
	margin-top: 25px;
}

.background{
	background-image: url('/front/assets/app/media/img/bg/back.jpg');
}